<% include partials/header.ejs %>
<div></div>
    <div class="main">
        <br /><br />
        <p>&nbsp;&nbsp;&nbsp;&nbsp;The programming language COBOL, which stands for Common Business Oriented Language
            , was developed in 1959 by the Conference on Data System Languages and heavily wanted by government agencies
            such as the Department of Defense otherwise known as the DOD. The Reason for the Development of COBOL was to create
             a programming language that can run on more than one manufactures computer. COBOL was convenient enough to be
            quickly adapted by not just government agencies such as the DOD but also private industries as well.
        </p><br /><br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Before the development of COBOL each computer manufacturer had their own programming language for their hardware.
            With the introduction of COBOL allowing the convenience of programming wince and working on multiple devices
            made COBOl the first and foremost favorite programming language for many years with multiple version adjusting
            the way it works.
        </p>



    </div>
<div><br /><img src="../img/DOD.jpg" alt="img of department of defense"/></div>
</div>

<% include partials/footer.ejs %>