<% include partials/header.ejs %>
    <div class="main_versions">
        <br /><br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;The Current place COBOL has in the world is not he same as it did when it was at its peak with the availability of
            so many different programming languages and there different uses. Even though COBOL is 50+ years old now it is still used in
             many industries by those that did not see a need to change languages from COBOl for what they need.
            Since COBOL was the number 1 language for quite a while and still works many dont see the point to ever need to cahnge because why fix what is broken.
            COBOL was continuasly updated and improved to always be able to do what other languages can do so why change to a different language that your employees would need to learn and
            all existing programs would need to be updated, sounds like unnecessary expenses. While no company is looking for COBOL programmers if they existed and were writing code good chances they never updated the programs that still
            work from COBOL and still use it making COBOL a still widely used language.

        </p>
        <p>
            <img src="../img/cobolt.jpg" alt="current cobol"  />
        </p>



    </div>
    <div></div>
</div>

<% include partials/footer.ejs %>