<% include partials/header.ejs %>
    <div class="main_syntax">
        <br /><br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp; COBOL has a English like syntax and is used to describe nearly every program
             because of this syntax COBOL has over 300 keywords with some words used as just plural of others and
            can be interchanged such as the keyword IS and the keyword ARE. COBOL programs are made
            up of four lexical items known as words, literals, picture character-strings, and seperators.
        </p><br /><br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;COBOL is split up into four divisions identification, environment, data, and procedure.
            The identification division finds the name and the source element and is where classes and procedures are specified.
            The environment division specifies program features such as files that rely on the system running it.
            The data division declares variables and parameters while the procedure divison contains statements form the program.
            These four divisions are divided into sections with each being made of paragraphs.
        </p>
        <br /><br />
        <img src="../img/syntax.jpg" alt="example of style" class="responsive" />

    </div>

</div>

<% include partials/footer.ejs %>