<% include partials/header.ejs %>
    <div class="main_versions">
        <br /><br />
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;COBOL 60 1959  original release.<br />
            &nbsp;&nbsp;&nbsp;&nbsp;COBOL-61 1961  Corrections of logical flaws.<br />
            &nbsp;&nbsp;&nbsp;&nbsp;COBOL-61 Extended 1963  Corrections of more logical flaws.<br />
            &nbsp;&nbsp;&nbsp;&nbsp;COBOL-68 1972 Created standard by the United States of America Standards.<br />
            &nbsp;&nbsp;&nbsp;&nbsp;COBOL-74 1978 Added File orginization the delete statement and segmented module and removed some features.<br />
            &nbsp;&nbsp;&nbsp;&nbsp;COBOL-85 1985 sixty features adjusted and many added.<br />
            &nbsp;&nbsp;&nbsp;&nbsp;COBOL 2002 started Object Oriented COBOL iplementation thus adding many functions.<br />
            &nbsp;&nbsp;&nbsp;&nbsp;COBOL 2014 added IEEE 754 types other features made optional and added hthe ability o method overload.<br />

        </p>
        <p class="text-center fakr">
            Fake data.
        </p>
            <img src="../img/cobol.jpg" alt="cobol image" />



    </div>
    <div></div>
</div>

<% include partials/footer.ejs %>