<% include partials/header.ejs %>
<h1 class="text-center">Welcome to Earth</h1>
<img class="text-center" src="/img/international-space-station-1176518__340.jpg" alt="Earth" /><br>
<h2>Fun Facts</h2>
<h5>Earth is Mostly Iron, Oxygen and Silicon</h5>
If you could separate the Earth out into piles of material, you’d get 32.1 % iron, 30.1% oxygen, 15.1% silicon, and 13.9% magnesium. Of course, most of this iron is actually located at the core of the Earth. If you could actually get down and sample the core, it would be 88% iron. And if you sampled the Earth’s crust, you’d find that 47% of it is oxygen
<br>
<br>
<h5> Earth Doesn’t Take 24 Hours to Rotate on its Axis</h5>
It actually takes 23 hours, 56 minutes and 4 seconds for the Earth to rotate once completely on its axis, which astronomers refer to as a Sidereal Day
<br>
<% include partials/footer.ejs %>