<% include partials/header.ejs %>
<h1 class="text-center">Welcome to Mercury</h1>
<img src="/img/mercury-11591__340.jpg" alt="Mercury"/><br>
<h2>Fun Facts</h2>
<h5>A year on Mercury is just 88 days long.</h5>>
One solar day (the time from noon to noon on the planet’s surface) on Mercury lasts the equivalent of 176 Earth days while the sidereal day (the time for 1 rotation in relation to a fixed point) lasts 59 Earth days. Mercury is nearly tidally locked to the Sun and over time this has slowed the rotation of the planet to almost match its orbit around the Sun. Mercury also has the highest orbital eccentricity of all the planets with its distance from the Sun ranging from 46 to 70 million km
<br>
<br>
<h5>Mercury is only the second hottest planet.</h5>
Despite being further from the Sun, Venus experiences higher temperatures.The surface of Mercury which faces the Sun sees temperatures of up to 427°C, whilst on the alternate side this can be as low as -173°C. This is due to the planet having no atmosphere to help regulate the temperature.
<br>
<% include partials/footer.ejs %>