<% include partials/header.ejs %>
<h1 class="text-center">Welcome to Venus</h1>
<img src="/img/venus-11022__340.jpg" alt="Venus" /><br>
<h2>Fun Facts</h2>
<h5>One day on Venus is longer than one year on Earth</h5>
Due to the slow rotation on its axis, it takes 243 Earth-days to complete one rotation. The orbit of the planet takes 225 Earth-days – making a year on Venus shorter on day on Venus.
<br>
<br>
<h5>Venus is the closest planet to Earth</h5>
When Venus is in line with Earth and the Sun, it is the closest planet to us, at an average distance of 41 million kilometers (25.5 million miles) away
<br>
<% include partials/footer.ejs %>