<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title id="title"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header class="white">
    <h1 class="white">COBOL</h1>
</header>
<div class= "flex_container">
    <div class="nav">
        <div class="nav_flex"><a href="/proj4/" class="one">Home</a></div>
        <div class="nav_flex"><a href="/proj4/syntax" class="two">Syntax</a></div>
        <div class="nav_flex"><a href="/proj4/current" class="three">Current</a></div>
        <div class="nav_flex"><a href="/proj4/versions" class="four">Versions</a></div>

    </div>