<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>US Quiz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        body {
            background-color: lightblue;
            /*//width: 50%;*/
        }
        #q7desc {
            text-
        }

    </style>
</head>

<body class="text-center">
<h1 class="jumbotron">US Geography quiz</h1>
<h3><span id="markImg1"></span>What is the Capital of California</h3>
<input type="text" id="q1">
<div id="q1Feedback" class="feedback"></div>
<br>

<h3><span id="markImg2"></span>What is the longest river? </h3>
<select id="q2">
    <option value="">Select One</option>
    <option value="ms">Mississippi</option>
    <option value="mo">Missouri</option>
    <option value="co">Colorado</option>
    <option value="de">Delaware</option>
</select>
<br><br>
<div id="q2Feedback" class="feedback"></div>
<br>

<h3><span id="markImg3"></span>What presidents are carved into mount Rushmore?</h3>
<input type="checkbox" id="Jackson"> <label for="Jackson">A.Jackson</label>
<input type="checkbox" id="Franklin"> <label for="Franklin">B.Franklin</label>
<input type="checkbox" id="Jefferson"> <label for="Jefferson">T. Jefferson</label>
<input type="checkbox" id="Roosevelt"> <label for="Roosevelt">T. Roosevelt</label>
<br><br>
<div id="q3Feedback" class="feedback"></div>
<br>

<h3><span id="markImg4"></span>What is the smallest US State?</h3>
<div id="q4Choices"></div>
<div id="q4Feedback" class="feedback"></div>
<br><br>

<h3><span id="markImg5"></span>What image is in the Great Seal of the state of California?</h3>
<img src="img/seal1.png" alt="Seal 1" class="q5Choice" id="seal1">
<img src="img/seal2.png" alt="Seal 2" class="q5Choice" id="seal2">
<img src="img/seal3.png" alt="Seal 3" class="q5Choice" id="seal3">
<div id="q5Feedback" class="feedback"></div>
<br><br>
<h3><span id="markImg6"></span>How many states does the United States have?</h3>
<input type="number" id="q6">
<div id="q6Feedback"></div>
<br>

<h3><span id="markImg7"></span>How many original states did the US have?</h3>
<h3 id="q7desc">1<input type="range" id="q7" min="1" max="13">13</h3>
<div id="q7Feedback"></div>
<br><br>

<h3><span id="markImg8"></span>What are the colors on the US Flag?</h3>
<div id="q8Choices"></div>
<div id="q8Feedback"></div>
<br><br>

<h3 id="validationFdbk" class="bg-danger text-white"></h3>
<h4 id="congratz"></h4>
<h2 id="totalScore" class="text-info"></h2>
<button type="button" class="btn btn-success btn-lg btn-block submit"> Submit Quiz</button>
<h2 id="taken"></h2>
<h3 id="previous"></h3>
<dummy></dummy>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" ></script>
<script>
    $(document).ready(function() {
        console.log("here");
        var score = 0;
        var q5_response = "";


        $(".q5Choice").on('click', function () {
            $(".q5Choice").css("background", "");
            $(this).css("background", "rgb(255,255,0");
            q5_response = $(this).attr("id");
        });

        displayQ4Choices();

        function displayQ4Choices() {
            let q4ChoicesArray = ["Maine", "Rhode Island", "Maryland", "Delaware"];
            q4ChoicesArray = _.shuffle(q4ChoicesArray);
            for (let i = 0; i < q4ChoicesArray.length; i++) {
                $("#q4Choices").append(`<input type="radio" name="q4" id="${q4ChoicesArray[i]}" value="${q4ChoicesArray[i]}"> <label for="${q4ChoicesArray[i]}"> ${q4ChoicesArray[i]}</label>`);
            }
        }

        displayQ8Choices();

        function displayQ8Choices() {
            let q8ChoicesArray = ["White", "Green", "Red", "Blue"];
            q8ChoicesArray = _.shuffle(q8ChoicesArray);
            for (let k = 0; k < q8ChoicesArray.length; k++) {
                $("#q8Choices").append(`<input type="checkbox" name="q8" id="${q8ChoicesArray[k]}" value="${q8ChoicesArray[k]}"> <label for="${q8ChoicesArray[k]}"> ${q8ChoicesArray[k]}</label>`);
            }
        }

        function isFormValid() {
            let isValid = true;
            if ($("#q1").val() == "") {
                isValid = false;
                $("#validationFdbk").html("Question 1 was not answered");
            } //else if($("#q2").val() == ""){
            //     isValid = false;
            //     $("#validationFdbk").html("Question 2 was not answered");
            // } else if(!$("#Jefferson").is(":checked") && !$("#Roosevelt").is(":checked") && !$("#Jackson").is(":checked") && !$("#Franklin").is(":checked")){
            //     isValid = false;
            //     $("#validationFdbk").html("Question 3 was not answered");
            // }else if (q5_response == ""){
            //     isValid =false;
            //     $("#validationFdbk").html("Question 5 was not answered");
            // }
            return isValid;
        }
        $(".submit").on("click touchstart", function(e) {
            if (isFormValid()) {
                // Step 3. Make the AJAX POST call back to the server
                // making sure to get values of the inputs AND
                // to convert the data to a string using JSON.stringify()
                var jefferson = $("#Jefferson").is(":checked");
                var roosevelt = $("#Roosevelt").is(":checked");
                var jackson = $("#Jackson").is(":checked");
                var franklin = $("#Franklin").is(":checked");
                let q3 = [];
                if (jefferson) {
                    q3.push("Jefferson");
                }
                if (roosevelt) {
                    q3.push("Roosevelt");
                }
                if (jackson) {
                    q3.push("Jackson");
                }
                if (franklin) {
                    q3.push("Franklin");
                }
                var red = $("#Red").is(":checked");
                var white = $("#White").is(":checked");
                var blue = $("#Blue").is(":checked");
                var green = $("#Green").is(":checked");
                let q8 = [];
                if (red) {
                    q8.push("Red");
                }
                if (white) {
                    q8.push("White");
                }
                if (blue) {
                    q8.push("Blue");
                }
                if (green) {
                    q8.push("Green");
                }
                console.log(q3);
                $.ajax({
                    url: "/lab8",
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        questions: {
                            "1": $("#q1").val().toLowerCase(),
                            "2": $("#q2").val(),
                            "3": q3,
                            "4": $("input[name=q4]:checked").val(),
                            "5": q5_response,
                            "6": $("#q6").val(),
                            "7": $("#q7").val(),
                            "8": q8
                        }
                    }),
                    dataType: "json",
                    success: function (result) {
                        // Step 5. Process the results by changing the HTML
                        // to display the results of the quiz
                        console.log('result of call to POST router', result);
                        $("#validationFdbk").html(""); //resets validation feedback
                        score = 0;
                        if(result.resu["1"] == "Correct"){
                            rightAnswer(1);
                        }else{
                            wrongAnswer(1);
                        }
                        if(result.resu["2"] == "Correct"){
                            rightAnswer(2);
                        }else{
                            wrongAnswer(2);
                        }
                        if(result.resu["3"] == "Correct"){
                            rightAnswer(3);
                        }else{
                            wrongAnswer(3);
                        }
                        if(result.resu["4"] == "Correct"){
                            rightAnswer(4);
                        }else{
                            wrongAnswer(4);
                        }
                        if(result.resu["5"] == "Correct"){
                            rightAnswer(5);
                        }else{
                            wrongAnswer(5);
                        }
                        if(result.resu["6"] == "Correct"){
                            rightAnswer(6);
                        }else{
                            wrongAnswer(6);
                        }
                        if(result.resu["7"] == "Correct"){
                            rightAnswer(7);
                        }else{
                            wrongAnswer(7);
                        }
                        if(result.resu["8"] == "Correct"){
                            rightAnswer(8);
                        }else{
                            wrongAnswer(8);
                        }
                        if(score < 80){
                            $("#totalScore").attr('class', "bg-danger");
                        }else {
                            $("#totalScore").attr('class', "bg-success");
                            $("#congratz").html("congratulations");
                        }
                        if(score == 100){
                            $("#congratz").html("CONGRATULATIONS!!");
                        }
                        $("#totalScore").html('Total Score '+ score);
                        attemptStore();
                        if(sessionStorage.clickcount > 1){
                            $("#previous").html('Previous results: '+ sessionStorage.getItem("responses"));
                        }

                        sessionStorage.setItem("responses",sessionStorage.getItem("responses") +score+" ")
                    },
                    error: function (xhr, status) {
                        console.log('error calling to POST router', status);
                    },
                    complete: function () {
                    }
                });
            }

        });
        function rightAnswer(index){
            $("#q" + index + "Feedback").html("Correct!");
            $("#q"+ index +"Feedback").attr("class", "bg-success text-white");
            $("#markImg" + index).html("<img src='img/checkmark.png' alt='checkmark'>");
            score += 12.5;
        }

        function wrongAnswer(index){
            $("#q"+ index +"Feedback").html("Incorrect!");
            $("#q"+ index +"Feedback").attr("class", "bg-warning text-white");
            $("#markImg" + index).html("<img src='img/xmark.png' alt='xmark'>");
        }

        function attemptStore(){
            if(typeof(Storage) !== "undefined") {
                if (sessionStorage.clickcount) {
                    sessionStorage.clickcount = Number(sessionStorage.clickcount)+1;
                } else {
                    sessionStorage.clickcount = 1;
                }
                $("#taken").html('Quiz Taken: '+ sessionStorage.clickcount + ' Time(s)');
            } else {
                $("#taken").html( "Sorry, your browser does not support web storage...");
            }
        }
    });
</script>
</html>