<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Solar System</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="bg_dark">
<div id="navBar">
    <a href="/">Home</a>
    <a href="/mercury">Mercury</a>
    <a href="/venus">Venus</a>
    <a href="/earth">Earth</a>
    <a href="/mars">Mars</a>
</div>